# Case 1 - Load Factor Prediction

In [11]:
import pandas as pd
import numpy as np
import datetime

In [12]:
df = pd.read_excel('Realized Schedule 20210101-20220208.xlsx')

In [13]:
df

,ScheduleTime,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,SeatCapacity,LoadFactor
0,2021-01-01 06:35:00,IA,874,DEN,73W,J,US,142,0.408451
1,2021-01-01 10:35:00,JZ,818,YHM,AT7,J,CA,74,0.189189
2,2021-01-01 12:05:00,IA,876,DEN,73W,J,US,142,0.570423
3,2021-01-01 13:20:00,CN,514,EST,AT7,J,US,72,0.333333
4,2021-01-01 14:20:00,LJ,3140,DEN,32A,J,US,186,0.204301
...,...,...,...,...,...,...,...,...,...
36765,2022-02-08 18:30:00,VW,986,YYZ,320,J,CA,180,0.522222
36766,2022-02-08 19:30:00,LJ,579,YQU,319,J,CA,156,0.532051
36767,2022-02-08 19:40:00,LJ,506,YUL,319,J,CA,156,0.602564
36768,2022-02-08 19:05:00,CL,2708,DAN,73H,J,US,189,0.417989
36769,2022-02-08 20:35:00,CL,3140,HFD,73H,J,US,189,0.497354

In [14]:
################################
#Process 'ScheduleTime' Feature#
################################
df.insert(1,'Year', df['ScheduleTime'].dt.year)  # insert a column for year

# calculate minutes passed from the first day of the year (xxxx-01-01 00:00:00)
df.insert(2,'DateReference', pd.to_datetime(df['Year'].astype(str) + '-01-01 00:00:00'))
df.insert(3,'MinutesPassed', 
         ((df['ScheduleTime'] - df['DateReference'])/pd.Timedelta(1, 'm')).fillna(0).astype(int))
df = df.drop('DateReference', 1)

In [15]:
# force types of each column
df['Year'] = df['Year'].astype(int)
df['MinutesPassed'] = df['MinutesPassed'].astype(int)
df['Airline'] = df['Airline'].astype(str)
df['FlightNumber'] = df['FlightNumber'].astype(int)
df['Destination'] = df['Destination'].astype(str)
df['AircraftType'] = df['AircraftType'].astype(str)
df['FlightType'] = df['FlightType'].astype(str)
df['Sector'] = df['Sector'].astype(str)
df['SeatCapacity'] = df['SeatCapacity'].astype(int)
df['LoadFactor'] = df['LoadFactor'].astype(float)

In [16]:
df

,ScheduleTime,Year,MinutesPassed,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,SeatCapacity,LoadFactor
0,2021-01-01 06:35:00,2021,395,IA,874,DEN,73W,J,US,142,0.408451
1,2021-01-01 10:35:00,2021,635,JZ,818,YHM,AT7,J,CA,74,0.189189
2,2021-01-01 12:05:00,2021,725,IA,876,DEN,73W,J,US,142,0.570423
3,2021-01-01 13:20:00,2021,800,CN,514,EST,AT7,J,US,72,0.333333
4,2021-01-01 14:20:00,2021,860,LJ,3140,DEN,32A,J,US,186,0.204301
...,...,...,...,...,...,...,...,...,...,...,...
36765,2022-02-08 18:30:00,2022,55830,VW,986,YYZ,320,J,CA,180,0.522222
36766,2022-02-08 19:30:00,2022,55890,LJ,579,YQU,319,J,CA,156,0.532051
36767,2022-02-08 19:40:00,2022,55900,LJ,506,YUL,319,J,CA,156,0.602564
36768,2022-02-08 19:05:00,2022,55865,CL,2708,DAN,73H,J,US,189,0.417989
36769,2022-02-08 20:35:00,2022,55955,CL,3140,HFD,73H,J,US,189,0.497354

In [17]:
data = df.iloc[:, 1:].values  # dataframe to numpy after pre-processing, discard initial 'ScheduleTime'

In [18]:
print(data.shape)
print(data)

(36770, 10)
[[2021 395 'IA' ... 'US' 142 0.408450704225352]
 [2021 635 'JZ' ... 'CA' 74 0.189189189189189]
 [2021 725 'IA' ... 'US' 142 0.570422535211267]
 ...
 [2022 55900 'LJ' ... 'CA' 156 0.602564102564102]
 [2022 55865 'CL' ... 'US' 189 0.417989417989417]
 [2022 55955 'CL' ... 'US' 189 0.497354497354497]]